mat-sidenav-container {
  height: 100%;
  min-height: 100%;

  mat-sidenav {
    background: linear-gradient(330deg, rgba(229, 38, 135, 1) 64%, rgba(94, 23, 235, 1) 94%);
    color: white;

    mat-nav-list {
      .menu-item {
        min-width: 100px;
        margin-left: 8px;
        color: white;
      }

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }
    }
  }
}

mat-icon {
  color: white;
}

.span {
  margin: 0 auto;
}

.img {
  height: auto;

  max-width: 100%;
}

.active {
  background: linear-gradient(330deg, rgba(229, 38, 135, 1) 64%, rgba(94, 23, 235, 1) 94%);
  color: white !important;
}

.content {
  max-height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  border-radius: 10px;

  overflow-y: auto;
  padding: 32px;
  box-sizing: border-box;
}

.mat-sidenav-container {
  height: calc(100vh);
}

.bbb{
	//dev
	//height:2000px;
  padding-top: 0 !important;
	padding:10px;
	padding-bottom:50px;
}
h1{
	margin-bottom:2000px;
}

.mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	
	//give nav it's own compsite layer
	will-change:transform;
	transform: translateZ(0);
	
	display:flex;	
	
	height:50px;
	
	box-shadow: 0 -2px 5px -2px #333;
	background-color:#fff;
	
	&__item{
		flex-grow:1;
		text-align:center;
		font-size:12px;
		
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	&__item--active{
		//dev
		color:red;
	}
	&__item-content{ 
		display:flex;
		flex-direction:column;		
	}
}