<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'app/profile'" [routerLinkActive]="['active']">
        <mat-icon mat-list-icon>person</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Perfil</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'app/search-match'" [routerLinkActive]="['active']">
        <mat-icon mat-list-icon>important_devices</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Buscar matches</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'app/my-matches'" [routerLinkActive]="['active']">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Mis matches</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->

  <mat-sidenav-content>
    
      <mat-toolbar *ngIf="!router.url.includes('search-match');">
        <mat-toolbar-row>
          <span class="span"><img class="img" src="assets/img/logo.svg" alt="header_logo"></span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div>
        <router-outlet></router-outlet>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>