<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">


</head>
<body>
    <a  class="btn_open_popup">Miles de parejas se han conocido gracias a MATCHUAA</a>

    <!-- <div class="container_all" > -->
        <div class="popup">
            <div class="imgi"></div>
            <div class="container_text">
            <h1>Quienes somos?</h1>
            <p>Somos estudiantes de la materia de base de datos con la finalidad de hacer un proyecto
                estrutural, con la finalidad de hacer un proyecto tecnico, resolvinedo una problematica
                a la cual es nesesario una aplicacion y pagina de sofware.
            </p>
            <p>La pagina web tiene como finalidad de conectar a miles de estudiantes de la universidad
                para darles la facilidad de poder interactuar con gente con gustos o cosas en similitud y poder
                contruir una relacion no nesesariamente amorosa.
                </p>
    
        </div>
       
    </div>
    <!-- </div> -->
    <div class="row">
        <div class="column">
          <img alt="photo1" src="assets/img/photo_1.jpg">
          <img alt="photo2" src="assets/img/photo_2.jpg">
          <img alt="photo3" src="assets/img/photo_3.jpg">
          <img alt="photo4" src="assets/img/photo_4.jpg">
          <img alt="photo5" src="assets/img/photo_5.jpg">
        </div>
        
        <div class="column">
            <img alt="photo1" src="assets/img/photo_6.jpg">
            <img alt="photo2" src="assets/img/photo_7.jpg">
            <img alt="photo3" src="assets/img/photo_8.jpg">
            <img alt="photo4" src="assets/img/photo_9.jpg">
            <img alt="photo5" src="assets/img/photo_10.jpg">
          </div>
          <div class="column">
            <img alt="photo1" src="assets/img/photo_11.jpg">
            <img alt="photo2" src="assets/img/photo_12.jpg">
            <img alt="photo3" src="assets/img/photo_13.jpg">
            <img alt="photo4" src="assets/img/photo_14.jpg">
            <img alt="photo5" src="assets/img/photo_15.jpg">
          </div>
          <div class="column">
            <img alt="photo1" src="assets/img/photo_16.jpg">
            <img alt="photo2" src="assets/img/photo_17.jpg">
            <img alt="photo3" src="assets/img/photo_18.jpg">
            <img alt="photo4" src="assets/img/photo_19.jpg">
            <img alt="photo5" src="assets/img/photo_20.jpg">
          </div>
          <div class="column">
            <img alt="photo1" src="assets/img/photo_21.jpg">
            <img alt="photo2" src="assets/img/photo_22.jpg">
            <img alt="photo3" src="assets/img/photo_23.jpg">
            <img alt="photo4" src="assets/img/photo_24.jpg">
            <img alt="photo5" src="assets/img/photo_25.jpg">
          </div>
    </div>
</body>
</html>